header {
    padding-top: 2rem;

    & img {
        width: 6.175rem;
    }
}

@media (width >= 80em) {
    header {
        padding-top: 4rem;

        & img {
            width: 7.25rem;
        }
    }
}
