.cards {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .card {
        background-color: var(--base-gray-100);
        border: 1px solid var(--base-gray-300);
        border-radius: 1rem;
        padding: 1.5rem 1.25rem;
    }

    & .card-client {
        align-items: center;
        padding: 1rem;

        & img {
            background: linear-gradient(white, white) padding-box,
                var(--linear-gradient-image) border-box;
            border-radius: 0.625rem;
            border: 2px solid transparent;
        }

        & h3 {
            color: var(--base-gray-600);
            font-size: var(--heading-title-sm);
            font-weight: 700;
        }

        & p {
            color: var(--base-gray-500);
            font-size: var(--body-text-xs);
            text-wrap: wrap;
        }
    }

    & .card-loyalty {
        & header {
            padding: 0;
            align-items: flex-start;
            width: 100%;

            & h3 {
                font-weight: 700;
                color: var(--base-gray-500);
                font-size: var(--heading-subtitle-sm);
                text-transform: uppercase;
            }

            & p {
                color: var(--base-gray-500);
                font-size: var(--body-text-xs);
            }

            & .id {
                background-color: var(--base-gray-300);
                border-radius: 0.75rem;
                text-align: center;

                & span {
                    text-wrap: nowrap;
                    display: inline-block; /* or block */
                    padding: 0.25rem 0.5rem;

                    color: var(--base-gray-500);
                    font-size: var(--heading-subtitle-sm);
                    font-weight: 700;
                }
            }
        }

        & .check-cuts {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(auto-fill, minmax(50px, auto));

            justify-content: center;
            list-style: none;
            gap: 0.5rem;

            & li {
                min-width: 3.5rem;
                min-height: 3.5rem;

                background-color: var(--base-gray-200);
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1 / 1;
                border-radius: 0.75rem;
                max-width: 100%;

                & img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            & li:nth-last-child(1) {
                background-image: url(../assets/icons/gift-solid.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 1.5rem;
                fill: var(--base-gray-500);
            }
        }
    }

    & .card-cutting-counter {
        & header {
            padding: 0;
            width: fit-content;
            gap: 0.25rem;
            flex-basis: 90%;

            & h2 {
                font-weight: 500;
                color: var(--base-gray-600);
                font-size: var(--body-text-sm);

                & strong {
                    font-size: var(--heading-title-sm);
                }
            }

            & .progress {
                width: 100%;
                align-items: center;

                & progress {
                    width: 100%;
                    height: 0.5rem;
                    appearance: none;
                    border-radius: 0.5rem;
                    background-color: var(--base-gray-300);
                    flex-basis: 90%;
                }

                & progress::-webkit-progress-value {
                    background: var(--linear-gradient-base);
                    border-radius: 0.5rem;
                }

                progress::-webkit-progress-bar {
                    background-color: var(--base-gray-300);
                    border-radius: 0.5rem;
                }

                progress::-moz-progress-bar {
                    background: var(--linear-gradient-base);
                }

                & p {
                    color: var(--base-gray-500);
                    font-size: var(--body-text-xs);
                    text-wrap: nowrap;
                    flex-basis: 10%;
                }
            }
        }

        & div {
            flex-basis: 10%;

            & img {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }
}

@media (width >= 80em) {
    .cards {
        display: grid;
        padding-inline: 16.5rem;
        grid-template-areas:
            'A B B'
            'C B B'
            'C D D';
    }

    & .card-client {
        grid-area: A;
    }

    & .card-history {
        grid-area: C;
    }

    & .card-loyalty {
        grid-area: B;

        & .check-cuts {
            gap: 1rem !important;

            & li {
                border-radius: 1.25rem;
            }
        }
    }

    & .card-cutting-counter {
        grid-area: D;
    }
}

@media (width <= 22rem) {
    .cards {
        & .card-loyalty {
            & .check-cuts {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

@media (width <= 20rem) {
    & .card-loyalty {
        & header {
            flex-direction: column-reverse;
        }

        & .check-cuts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly !important;
            align-items: center;
        }
    }
}
