.card-cutting-counter {
    & header {
        padding: 0;
        width: fit-content;
        gap: 0.25rem;
        flex-basis: 90%;

        & h2 {
            font-weight: 500;
            color: var(--base-gray-600);
            font-size: var(--body-text-sm);

            & strong {
                font-size: var(--heading-title-sm);
            }
        }

        & .progress {
            width: 100%;
            align-items: center;

            & progress {
                width: 100%;
                height: 0.5rem;
                appearance: none;
                border-radius: 0.5rem;
                background-color: var(--base-gray-300);
                flex-basis: 80%;
            }

            & progress::-webkit-progress-value {
                background: var(--linear-gradient-base);
                border-radius: 0.5rem;
                perspective: 1px;
            }

            & progress::-webkit-progress-bar {
                background-color: var(--base-gray-300);
                border-radius: 0.5rem;
            }

            & progress::-moz-progress-bar {
                background: var(--linear-gradient-base);
                border-radius: 0.5rem;
                perspective: 1px;
            }

            & .progress-text {
                flex-basis: 20%;
            }
        }
    }

    & div {
        flex-basis: 10%;

        & img {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}
